@font-face {
  font-family: myFirstFont;
  src: url(nickainley.regular.ttf);
}

 body {
        text-align: center;
        font-family: myFirstFont;
        background-color: white; 
        margin: 0;
        padding: 20px;
        align-items:center;
    }

    h1 {
        background-color: #9bc8f8;
        font-size:8vw;
        border-radius: 8px;
        padding: 30px;
        letter-spacing: 8px;
    }

    /* .box {
        background-color: #f8c8dc
        max-width: 200px;
        margin: 25px auto;
        padding: 25px;
        border-radius: 15px;
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    } */

    h3 {
        color: #666;
         margin: 0 0 8px 0;
         font-size: 4vw;
    }

    p {
        color: #333;
         line-height: 1.4;
         margin: 0 0 10px 0; 
        font-size: 2vw;
    }

    img {
        width: 300px;
        max-width: 100%;
        height: auto;
        display: flex;
        margin: 15px auto 0;
        border-radius: 12px;
        border: 3px solid #f8c8dc;
    }

    .img2 {
        width: 400px;
        max-width: 800%;
        height: auto;
        display: flex;
        margin: 15px auto 0;
        border-radius: 12px;
        border: 3px solid #f8c8dc;
    }
    