 @font-face {
  font-family: myFirstFont;
  src: url(nickainley.regular.ttf);
}

body {
  margin: 0;
  padding: 20px;
  background-color: #fdfdfd;
  text-align: center;
}

h1 {
  background-color: #5ea2eb;
  color: #11265C;
  font-size: clamp(2.5rem, 6vw, 4rem);
  padding: 25px;
  border-radius: 12px;
  letter-spacing: 6px;
  margin: 0 auto 40px;
   font-family: myFirstFont, 'Playfair Display', serif;
  max-width: 900px;
}

.boxes {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.box {
  background-color: #f8c8dc;
  width: 420px;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
}

h3 {
 color: #777474;
  font-size: clamp(1.4rem, 4vw, 2rem);
     font-family:Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 10px;
}

p {
  color: #535252;
  line-height: 1.6;
  font-size: clamp(1rem, 2.5vw, 1.1rem);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: auto;
}

img {
  width: 100%;
  max-width: 280px;
  height: 220px;
  object-fit: cover;
  margin: 15px auto;
  display: block;
  border-radius: 12px;
  border: 4px solid #fff;
}

.img2 {
  max-width: 280px;
}

.box:hover {
  transform: translateY(-5px);
  transition: 0.3s ease;
}
.shaunat{width: 40px;position: sticky; top: 0;  z-index: 1000; }
.shaunat:hover {
  cursor: pointer;
}